<!DOCTYPE html>
<html>
{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title %}{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Password Change Form</h1>
    </div>
        {{wrong_info}}
        <br><br>

        <form id="password_change_form" method="post" action="{%url 'changepassword'%}">
            {% csrf_token %}
            Old Password: <input type="password" name="oldPassword"  placeholder = "**********" size="40" />
            <br />
            New Password: <input type="password" name="newPassword" placeholder = "**********" value="" size="40" />
            <br />
            Confirm new password: <input type="password" name="newPasswordConfirm" placeholder = "**********" value="" size="40" />
            <br />

            <input type="submit" value="Change Password" />
        </form>

{% endblock %}
</html>